/* Default React CSS */

.app-main {
  text-align: center;
}

.app-main-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}


/* Custom CSS */

 .age-gate-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('./assets/video/ba-age-gate.gif');
  background-color: black;
  background-size: cover;
  opacity: 0.80;
  -moz-opacity: 80%;
  -webkit-opacity: 80%;
  z-index: 2;
 }

 .p-white{
   color:white;
   text-shadow: 2px 2px black;
 }

 .age-gate-page h1 {
  color: white;
  text-shadow: 2px 2px black;
 }

 .age-gate-box{
  display: flex;
   width: 600px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#background-video{

  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  }


  /* Slider */    

.item {
  position: relative;
  width: 300px;
  height: 100px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.fg {
  cursor: -webkit-grab;
  background-color: #272727;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
  font-size: 3em;

  font-weight: 600;
  transition: box-shadow 0.75s;
}

.fg:active {
  cursor: -webkit-grabbing;
  box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.4);
}

.fg > * {
  pointer-events: none;
}

.av {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

/* Login Background */

.home-page {
  background: url('./assets/images/whiskey-barrels.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.home-page-logo {

  display: flex;

  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}