/* Default React CSS */

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header {
  display: flex;
  height: 48px;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}


/* Custom CSS */

 .auth-body {
  background-image: url('./assets/images/media-whiskey-barrels.jpg');
  background-color: black;
  background-size: cover;
  height: 110vh;
 }

 
 .form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#background-video{

  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  }